Json Tugas 4_ Modul 8.json
{
  "name": "Tugas 4_Modul 8",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "98f4ca1e-fa27-4445-924f-18d735c50701",
      "name": "Telegram Trigger",
      "webhookId": "861b918d-d4a4-42db-bac5-cc8b43a2c962",
      "credentials": {
        "telegramApi": {
          "id": "fXtuM5u6jf7pdsUp",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "215cf611-b16a-4964-b935-cea4ecf3b919",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana prosedur reimbursement?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "d6ee4f87-da1f-4893-81fe-b0404cde9fe9",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Prosedur pengajuan cuti tahunan",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "9dd55609-391e-44b3-a85a-c7706830b933",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana aturan lembur di perusahaan ?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "115eaf45-51f3-4c72-b85c-e9bd80259f33",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Apa syarat klaim asuransi kesehatan ?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "47947f7b-6fc1-4aa8-b4ce-95a3d8dcac0a",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana prosedur permintaan alat kerja baru ?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "e4aa5763-dc43-444f-a814-b3110f412c73",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "=Pertanyaan yang Anda kirimkan tidak sesuai, harap gunakan pertanyaan dibawah ini:\n1. Bagaimana prosedur reimbursement?\n2. Prosedur pengajuan cuti tahunan\n3. Bagaimana aturan lembur di perusahaan?\n4. Apa syarat klaim asuransi kesehatan?\n5. Bagaimana prosedur permintaan alat kerja baru?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        224
      ],
      "id": "684441d7-aa15-42f9-b233-c6b08d5dfd7b",
      "name": "False Output",
      "webhookId": "3d177bb3-8505-44d1-abb8-13a9758cfc4f",
      "credentials": {
        "telegramApi": {
          "id": "fXtuM5u6jf7pdsUp",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Anda adalah SOP AI Agent.\n\nATURAN KERAS:\n- Anda WAJIB menggunakan TOOL \"Data Pertanyaan\" sebelum menjawab.\n- Jawaban HARUS diambil dari hasil tool.\n- DILARANG menggunakan pengetahuan umum.\n- Jika data tidak ditemukan, jawab: \"Maaf, informasi tersebut tidak tersedia di SOP.\"\n\nPertanyaan pengguna:\n{{ $node[\"Telegram Trigger\"].json.message.text }}\n\nJawaban berdasarkan SOP:",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        496,
        -144
      ],
      "id": "6185d1c0-82fb-48f1-90c2-904739052139",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        464,
        48
      ],
      "id": "78025703-9584-4232-bc80-1f6200661fc7",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "xWTEvtKBCzrSFndE",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1L-OEOvAsFGJZD2YFIGa_hlbq4X5EmPvvsfOEk6QF7WM",
          "mode": "list",
          "cachedResultName": "Data Pertanyaan untuk Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L-OEOvAsFGJZD2YFIGa_hlbq4X5EmPvvsfOEk6QF7WM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1156601517,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L-OEOvAsFGJZD2YFIGa_hlbq4X5EmPvvsfOEk6QF7WM/edit#gid=1156601517"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        704,
        48
      ],
      "id": "9a665a18-de74-486c-ad2a-a770518f6fff",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5HX0MhN07aJtz6Rj",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('If').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        -144
      ],
      "id": "a758f4c3-d965-478a-bb36-00a9f26a1116",
      "name": "True Output",
      "webhookId": "9cd59118-6a9c-46a6-ad08-de6226cc4e35",
      "credentials": {
        "telegramApi": {
          "id": "fXtuM5u6jf7pdsUp",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "False Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "True Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "809f3a50-6cdb-4583-b85b-9877ee7d45ef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d98a171983f1b6bc91b74344ea2b403dd7c4bb5ea25111dcc42254d4408083c6"
  },
  "id": "GH7Ry7VUf0nBWHXp",
  "tags": []
}