Tugas 4_Modul 8 (2).json
{
  "name": "Tugas 4_Modul 8",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -736,
        288
      ],
      "id": "237f4e2a-0fb8-4904-971a-409533c1ed84",
      "name": "Telegram Trigger",
      "webhookId": "861b918d-d4a4-42db-bac5-cc8b43a2c962",
      "credentials": {
        "telegramApi": {
          "id": "EqP3cujhMoikPsDG",
          "name": "Telegram account 5"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "215cf611-b16a-4964-b935-cea4ecf3b919",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana prosedur reimbursement?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "d6ee4f87-da1f-4893-81fe-b0404cde9fe9",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Prosedur pengajuan cuti tahunan",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "9dd55609-391e-44b3-a85a-c7706830b933",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana aturan lembur di perusahaan?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "115eaf45-51f3-4c72-b85c-e9bd80259f33",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Apa syarat klaim asuransi kesehatan?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "47947f7b-6fc1-4aa8-b4ce-95a3d8dcac0a",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana prosedur permintaan alat kerja baru?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -528,
        288
      ],
      "id": "327dda51-c7dd-4db7-b2c5-fc751fe344d9",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "=Pertanyaan yang Anda kirimkan tidak sesuai, harap gunakan pertanyaan dibawah ini:\n1. Bagaimana prosedur reimbursement?\n2. Prosedur pengajuan cuti tahunan\n3. Bagaimana aturan lembur di perusahaan?\n4. Apa syarat klaim asuransi kesehatan?\n5. Bagaimana prosedur permintaan alat kerja baru?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -288,
        512
      ],
      "id": "dd2c7144-1ece-47a0-86eb-fac8f0338b98",
      "name": "False Output",
      "webhookId": "3d177bb3-8505-44d1-abb8-13a9758cfc4f",
      "credentials": {
        "telegramApi": {
          "id": "EqP3cujhMoikPsDG",
          "name": "Telegram account 5"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Anda adalah SOP AI Agent.\n\nATURAN KERAS:\n- Anda WAJIB menggunakan TOOL \"Data Pertanyaan\" sebelum menjawab.\n- Jawaban HARUS diambil dari hasil tool.\n- DILARANG menggunakan pengetahuan umum.\n- Jika data tidak ditemukan, jawab: \"Maaf, informasi tersebut tidak tersedia di SOP.\"\n\nPertanyaan pengguna:\n{{ $node[\"Telegram Trigger\"].json.message.text }}\n\nJawaban berdasarkan SOP:",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -240,
        144
      ],
      "id": "73b7b7b9-df97-4e6b-bc88-c5ffd968d0a3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -272,
        352
      ],
      "id": "c9e77626-9c59-4eb7-8c73-6b8ed4110122",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "PDLslAK2vDlWTXnO",
          "name": "Groq account 5"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1L5V7yrReaQ07Mbi7hcK6AYEIHZddWLEYM90k8wq4cwQ",
          "mode": "list",
          "cachedResultName": "Data Pertanyaan untuk Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L5V7yrReaQ07Mbi7hcK6AYEIHZddWLEYM90k8wq4cwQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1604657900,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L5V7yrReaQ07Mbi7hcK6AYEIHZddWLEYM90k8wq4cwQ/edit#gid=1604657900"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -32,
        336
      ],
      "id": "f9e7d212-d2e0-47da-9a2e-9d7e9d7809f9",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5LbYloxjt7REV79h",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('If').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        112,
        144
      ],
      "id": "c539385f-a342-41ca-872b-aacf5d150f51",
      "name": "True Output",
      "webhookId": "9cd59118-6a9c-46a6-ad08-de6226cc4e35",
      "credentials": {
        "telegramApi": {
          "id": "EqP3cujhMoikPsDG",
          "name": "Telegram account 5"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "False Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "True Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "981b3962-7a32-49f8-ac7f-a7b69e5c352e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "01913f04f0417ca5d697737c74b561bd832fac3b94a7636da5141ab563e5d693"
  },
  "id": "f1zVc3eaEgMPhZZc",
  "tags": []
}